<nav>
  <div class="site-title">
    <a href="/"><h1>Footbal News</h1></a>
    <p>We Blog About Football</p>
  </div>
  <ul>
    <li><a href="/">News</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Write News</a></li>
  </ul>
</nav>