<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsum necessitatibus eum temporibus porro alias vero animi adipisci doloremque nemo laboriosam voluptatibus omnis fugit nobis fugiat odit, deleniti earum repudiandae?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, neque voluptate? Soluta tempora nobis debitis dolorum impedit necessitatibus architecto dolore sequi hic, nisi, accusantium eveniet rerum ab id, alias quo!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde consequuntur, temporibus ipsum autem eligendi alias amet, dignissimos animi laboriosam error veniam tenetur officia fuga est earum nostrum. Corrupti, adipisci qui?</p>

  </div>
  <%- include('./partials/footer.ejs') %>
</body>

</html>